* {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.mobile-menu-nav {
  padding: 20px 0;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.mobile-menu-nav:active,
.mobile-menu-nav:focus {
  background-color: #ffffff;
  color: black;
}

.desktop-menu-nav {
  transition: color 0.3s ease-in-out;
}
.desktop-menu-nav:hover {
  color: #69f2c2;
  border-radius: 50px;
  background-color: #ffffff;
  padding: 5px 8px;
  transition: ease-in-out 0.3s;
}

.desktop-menu-nav:active,
.desktop-menu-nav:focus {
  border-radius: 50px;
  background-color: #ffffff;
  padding: 5px 8px;
}

.mobile-about-style {
  background-color: rgba(128, 128, 128, 0.3);
  width: 100%;
  height: 50%;
  clip-path: polygon(100% 0%, 0% 20%, 0% 100%, 100% 100%);
}

.desktop-about-style {
  background-color: #d7d7d7;
  width: 60%;
  height: 85vh;
  clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 50px;
  height: 5px;
  background-color: white;
}

.slashes {
  font-size: 24px;
  font-weight: bold;
  margin: 0 10px;
  font-family: monospace; /* Ensures consistent slashes appearance */
  transform: scaleX(1.2); /* Optional, to stretch the slashes */
}

.input-style {
  color: black;
  background: transparent;
  font-size: 12px;
  width: 243px;
  padding: 10px;
  border: none; /* Remove all borders initially */
  border-left: 5px solid black; /* Left border */
  border-bottom: 5px solid black; /* Bottom border */
  outline: none; /* Remove default outline */
  transition: all 0.3s ease; /* Optional: Smooth effect on focus or hover */
}

.input-style::placeholder {
  color: black; /* Placeholder text color */
}

.input-style:focus {
  border-left: 2px solid blue; /* Change color on focus */
  border-bottom: 2px solid blue;
}

.input-style:hover {
  border-left: 2px solid gray; /* Change color on hover */
  border-bottom: 2px solid gray;
}
